
.right {
    text-align:right;
}

.box {
    border:1px solid #ddd;
    padding:15px;
    border-radius: 5px;
    background-color:white;
}

.block {
    display:block;
}

input[type='radio'] {
    margin-right:5px;
}

.espacamento {
    margin-right:10px;
}

table {
    border-collapse:collapse !important;
    font-size: 14px;
}

table tbody tr:hover {
    cursor:pointer;
}

button {
    margin-left:5px;
}

.has-error, .has-error:focus {
    background-color:#FFE5E5;
    border:1px solid red;
}

.has-warning, .has-warning:focus {
    background-color:#fff9e5;
    border:1px solid #f89406;
}